<style>
</style> 

<div id='pdf' >
    <h4 ><%- `kwh Usage for ${dev}`  %>   </h4> 
</div>

    <table>
        <tr>
            <th>Date</th>
            <th>KWH</th>
        </tr>

        <% for(var i =0; i< mdl.length; i++  ){%> 
             <tr>
                <td><%-mdl[i].date%></td>
                <td><%-mdl[i].kwh%></td>                         
            </tr>
         <% } %> 
    </table>
</div>

<div id="div_bt">
    <form action="/public/js" method="get">
        <input type="hidden" name="dev"  value=<%-`${dev}`  %>>
        <input type="hidden" name="date"  value=<%-`${mdl[0].date}`  %>>
        <button type="submit" class="btn-primary">Print</button>
    </form>   
</div>


